
<form>
	<input type="text" name="guess" placeholder="1-100" >
	<input type="submit" value="Guess!" >
</form>

<% if number != guess  %>
	<% if guess != 0 %>
		<p class="<%= color %>"> The guess is <%= message %> the secret number </p>
		<h3 class="<%= color %>">your guess was <%=guess%> </h3>
	<% end %>
	<p>You have <%=guesses_remaining%> guesses remaining </p>
<% else %>
	<h2 class="<%= color %>">YAY! The secret number is <em><%= number %></em>!</h2>
	<a href="/reset"><button>Play Again?</button></a>
<% end %>

